@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000;
  --text-color: #fff;
  --text-secondary: #aaa;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

html, body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav-link {
  transition: color 0.3s;
}

.nav-link.active {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}


section#home {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(53,53,166,1) 27%, rgba(0,0,0,1) 37%, rgba(0,0,0,1) 100%);
}

section#projects {
  background-image:
          radial-gradient(circle at 10% 20%,  rgba(53, 53, 166, 0.5) 2%, rgba(0, 0, 0, 0) 6%),
          radial-gradient(circle at 90% 80%,  rgba(53, 53, 166, 0.5) 4%, rgba(0, 0, 0, 0) 12%);

}


section#details {
  background-image: radial-gradient(rgba(53, 53, 166, 0.8) 5%, rgba(0, 0, 0, 1) 55%);
}

section#contact {
  background: rgb(53,53,166);
  background: linear-gradient(0deg, rgba(53,53,166,1) -33%, rgba(0,0,0,1) 100%);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}
